.search-container {
    min-height: 45vh;
    background-image: url('../images/searchBackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.search-button {
    background: transparent;
    border-bottom: 1px solid black;
    padding: 5px;
    color: black;
}
.search-button:hover {
    background-color:black;
    color: white;
    text-decoration: none;
}

.homeLogo {
    max-width: 500px;
    border-radius: 10px;
}

.row {
    margin-bottom: 50px;
}
hr {
    background: black;
    margin: 70px 0px;
}