nav {
    font-size: 20px;
}

body{
    overscroll-behavior: none;
    font-family: 'Lexend Deca', sans-serif;
    background-image: url('./images/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}